# SPDX-License-Identifier: MPL-2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: add-spdx-headers
        name: Add SPDX headers
        entry: scripts/add_spdx_header.py
        language: system
        files: "(\.py|\.js|\.jsx|\.ts|\.tsx|\.css|\.scss|\.yml|\.yaml|\.toml|requirements\.txt|Dockerfile.*)"
        pass_filenames: true
